<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap"
			rel="stylesheet"
		/>
		<link href="/public/css/style.css" rel="stylesheet" />
		{{if .CurrentPage }}
		<link href="/public/css/{{ .CurrentPage }}.css" rel="stylesheet" />
		{{- end}} {{ if eq .CurrentPage "home" }}
		<script defer src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
		{{- end}}

		<title>Fox Night</title>
	</head>
	<body>
		<nav>
			<h1 class="nav-logo">Fox Night</h1>
			<a class="nav-item" href="/home">Home</a>
			<a class="nav-item" href="/about">About</a>
		</nav>
	</body>
</html>
