<%- include('../partials/header.ejs') %>

<main>
	<section>
		<h1>About</h1>
		<h2>What is Fox Night?</h2>
		<p>Fox Night is a weekly virtual meet hosted by <a style="background-color: #3c4249; padding: 2px; border-radius: 3px;">@Edwin the Fox</a> in which participants either watch a movie, or play a fun game together. Every week, we rotate activities - this website is used to watch a movie! The event starts at 9:30 AM PST and usually lasts for an hour or until the movie ends</p>

		<h2>History</h2>
		<dl>
			<dt>Four Weeks Ago</dt>
			<dd>GreyHound (2020)</dd>

			<dt>Three Weeks Ago</dt>
			<dd>SuperTux Kart</dd>

			<dt>Two Weeks Ago</dt>
			<dd>Fantastic Mr. Fox (2009)</dd>

			<dt>Last Week</dt>
			<dd>The WikiGame</dd>

			<dt>Today</dt>
			<dd>The Matrix (1999)</dd>
		</dl>
	</section>
</main>

<%- include('../partials/footer.ejs') %>
