[Unit]
Description=Fox Night Starter Service

[Service]
Environment=PORT={{ port }}
User={{ user }}
WorkingDirectory=/home/{{ user }}/{{ folder_name }}
ExecStart=/usr/bin/npm start
ExecStop=/usr/bin/kill $MAINPID
StandardInput=tty
TTYPath=/dev/tty20
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
