<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap" rel="stylesheet"> -->
		<link href="/css/style.css" rel="stylesheet" />
		<script defer src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"
		></script>
		<script defer src="js/script.js"></script>
		<title>Fox Night</title>
	</head>
	<body>
		<nav>
			<h1 class="nav-logo">Fox Night</h1>
			<a class="nav-item" href="/home">Home</a>
			<a class="nav-item" href="/about">About</a>
		</nav>
	</body>
</html>
